{{>header}}
<section>
    <div class="main-center">
        <div class="content">
            <h2 class="main-heading">Welcome to Online Banking System</h2>
            <p class="moto">Start transfering money in safer and easier way than ever</p>
            <a href="/users"><button class="btn hero-btn">Get Started</button></a>
        </div>
    </div>
</section>

{{>footer}}