{{>header}}

<section class="bg-section ">
    <div class="section">
    <div class="section-title">
        <h2>Users</h2>
    </div>
    <div class="table">
        <table>
            <thead class="header1">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Profile</th>
                </tr>
            </thead>
            {{#users}}
            <tbody class="header2">
                <tr>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <td><a href="/users/{{id}}">View</a></td>
                </tr>
            </tbody>
            {{/users}}
        </table>
    </div>
    </div>
</section>
{{>footer}}