<footer class="footer">
    <div class="section">
        <p class="footer-para">
            copyright &copy; Sanu Kumar <span id="date"></span> all rights reserved
        </p>
    </div>
</footer>
<script src="/app.js"></script>
</body>

</html>